@font-face {
    font-family: "MyCalibri";
    src: url("fonts/CalibriRegular.woff2") format("woff2");
    src: url("fonts/CalibriRegular.woff") format("woff");
}

@font-face {
    font-family: "MyBernadette";
    src: url('fonts/bernadette.woff') format("woff");
    src: url('fonts/bernadette.woff2') format("woff2");
}

body {
    font-family: "MyCalibri", sans-serif;
    background: black;
    display: block;
}

.letterboxTop {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    padding-top: 40px;
    box-sizing: border-box;
    background-color: #000;
}

.letterboxBottom {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-color: #000;
}

.nav {
    margin-top: 5rem;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: darkgrey;
}

#images {
    z-index: -1;
    top: 0;
    position: absolute;
}

.bigImg {
    width: 100%;
}

.my-5 {
    color: white;
}

.hero {
    font-family: "MyBernadette", "MyCalibri", serif;
    text-shadow: 2px 2px 8px #000000;
}

.heroSmall {
    padding-top: 4rem;
    font-size: 150%;
}

.secondDiv {
    margin-top: 15rem;
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

.jumbotron h1 {
    font-family: "MyBernadette", "MyCalibri", sans-serif;
}

.jumbotron img {
    border-radius: 5px;
}

.bigImgSM {
    display: none;
}

.halfDiv {
    display: inline-block;
    width: 49%;
    height: 100%;
}

.littleIcon {
    margin-top: 0.5rem;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.5rem;
}

.littlerIcon {
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: center;
    width: 100%;
    z-index: 9999;
    bottom: 0rem;
    position: fixed;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframeHolder {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.pageImg {
    height: 100%;
    position: fixed;
}

.logoContainer img {
    width: 100%;
}

.pageParagraph {
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
}

@media (min-width:750px) {
    .jumbotronInnerDiv {
        width: 80%;
        padding-left: 5%;
    }
}

@media (max-width:850px) {
    .letterboxBottom {
        padding-bottom: 1rem;
    }

    .letterboxTop {
        padding-bottom: 1rem;
    }

    .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .bigImgSM {
        display: block;
    }

    .halfDiv {
        width: 100%;
        display: block;
    }

    .pageParagraph {
        padding-top: 1rem;
        color: white;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .nav {
        font-size: 150%;
    }

    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1000px) {

    .nav-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.pageBody {
    background-attachment: fixed;
    background-size: 250vh;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 44%);
}

#dr2021 {
    background-image: url("images/backgrounds/pages/2021.png");
}

#dr2020 {
    background-image: url("images/backgrounds/pages/2020.png");
}

#dr2019 {
    background-image: url("images/backgrounds/pages/2019.png");
}

#dr2018 {
    background-image: url("images/backgrounds/pages/2018.png");
}

#drtrtm {
    background-image: url("images/backgrounds/pages/drtrtm.png");
}

#projphoenix {
    background-color: black;
}
