/* Definitely okay font stuff */
@font-face {
    font-family: "MyCalibri";
    src: url("fonts/CalibriRegular.woff2") format("woff2");
    src: url("fonts/CalibriRegular.woff") format("woff");
}

@font-face {
    font-family: "MyBernadette";
    src: url('fonts/bernadette.woff') format("woff");
    src: url('fonts/bernadette.woff2') format("woff2");
}

.bernie {
    font-family: 'MyBernadette', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styles for super thin screens */
@media only screen and (max-width: 350px) {
    .bernie {
        font-size: xx-large;
    }

    .flexContainerH {
        padding: 0px;
        justify-content: space-around;
    }

    #navbar {
        width: auto!important;
    }
}

/* Styles for vertical screens */
@media only screen and (max-width: 767px) {
    #navSep {
        display: block;
    }

    #navbarRightExpanded {
        font-size: smaller;
        text-wrap: nowrap;
    }

    .flexContainerH {
        padding: 0px 5vw;
        justify-content: space-between!important;
    }

    #mobileTopImage {
        opacity: 100%;
    }

    #indexBody {
        background: black!important;
    }

    .hero h1 {
        font-size: 3em;
    }
}

/* Styles for desktop screens */
@media only screen and (min-width: 768px) {
    #navSep {
        display: none;
    }

    #mobileTopImage {
        opacity: 0%;
    }

    .hero h1 {
        font-size: 5em;
    }

    #entry-info {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 75%;
    }

    #description {
        margin: 1vw;
    }

    iframe {
        width: 560px;
        height: 315px;
    }
}

/* Breakpoint for about me box */
@media only screen and (max-width: 1080px) {
    #aboutme {
        width: 75%!important;
        flex-direction: column-reverse!important;
        margin-top: 10vh;
    }

    #aboutme-right {
        width: 95%!important;
        align-items: center!important;
    }

    #headshot {
        width: 48vw;
    }

    #entry-info {
        flex-direction: column;
        max-width: 90%;
        align-items: center;
    }

    iframe {
        width: 80vw;
        height: 44vw;
    }
}

/* General Styles */
body {
    font-family: "MyCalibri", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;

    padding: 10vh 0px;
    margin: 0px;
    min-height: 80vh;

    color: white;
    background-color: #111111;
}

body > * {
    margin: 1vh 0vw;
}

body span {
    max-width: 60vw;
}

footer {
    position: absolute;
    bottom: 0px;
}

.flexContainerV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.flexContainerH {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

iframe {
    border-radius: 0.5vw;
}

/* Letterbox Effect */
#letterboxTop {
    height: 10vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#letterboxBottom {
    height: 9vh;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 98;
    justify-content: flex-end;
    margin: 0;
    color: #ffffff30;
    padding-bottom: 1vh;
}

#letterboxBottom span {
    max-width: 100vw;
}

/* Navbar Stuff */
#navbar {
    font-size: x-large;
    width: 100%;
}

#letterboxTop a {
    color: white;
    text-decoration: none;
    margin: 0px 1vw;
}

/* Hero */
#indexBody > .hero {
    margin: 12vw 0px;
}

.hero em {
    font-family: 'MyCalibri';
}

/* About Me */
#aboutme {
    background-color: #d0d0d0;
    width: 50%;
    border-radius: 1vh;
    color: #000;
    text-shadow: none;
    justify-content: space-between;
}

#aboutme-right {
    width: 65%;
    align-items: flex-start;
    margin: 2vh;
}

#aboutme-smallIcons {
    margin: 1vh 0px;
    display: flex;
    align-items: center;
}

#aboutme-smallIcons a {
    margin: 0.25vw;
}

.littleIcon {
    height: 3vh;
    width: 3vh;
}

.littlerIcon {
    height: 3.3vh;
    width: 3.3vh;
}

#aboutme h3 {
    font-size: 1.75rem;
    margin: 0;
}

#aboutme p {
    text-align: left;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.277);
    padding-top: 1vh;
}

#headshot {
    border-radius: 1vh;
    margin: 2vh;
}

/* Speiser Productions Link */
#speiserProductionsLink {
    padding: 2em 3em;
    border-radius: 1vh;
    background-color: #d0d0d0;
    text-shadow: none;
    color: #000;
}

/* Background Image for Mobile Devices */
#mobileTopImage {
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 10vh;
}

/* Body Styles for each page */
#entry-info {
    display: flex;
}

#description {
    max-width: 700px;
}

#indexBody {
    background-image: url('images/backgrounds/stage.png');
    background-position: 50% 0vh;
    background-size: auto 145vh;
    background-repeat: no-repeat;

    text-shadow: 1px 1px 4px black;
}

#dr2018Body {
    background-image: url('images/backgrounds/pages/2018.png');
    background-position: 50% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}

#dr2019Body {
    background-image: url('images/backgrounds/pages/2019.png');
    background-position: 50% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}

#dr2020Body {
    background-image: url('images/backgrounds/pages/2020.png');
    background-position: 50% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}

#dr2021Body {
    background-image: url('images/backgrounds/pages/2021.png');
    background-position: 50% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}

#drtrtmBody {
    background-image: url('images/backgrounds/pages/drtrtm.png');
    background-position: 50% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}

#projectphoenixBody {
    background-image: url('images/backgrounds/Project\ Phoenix\ Poster\ Final.jpg');
    background-position: 20% 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

    text-shadow: 1px 1px 4px black;
}